      <h1>About Me
      </h1>
      <p>
        Here are some facts about me:
      </p>
      <ul>
        <li>
          I'm a native Seattleite
        </li>
        <li>
          I really love cats
        </li>
      </ul>
      <div>
        I'm currently a student at Ada Developers Academy learning web development. It's super fun!
      </div>
