      <section class="post">
        <h2 class="blog_title">
          October 26, 2015: My favorite real-life cat!
        </h2>
        <p>
          This is a blog post about my favorite cat, Maxwell. Here is a picture of me with my favorite cat. He is fat.
          <br>
          <img src ="me_with_cat.jpg" alt="I am holding a large black cat"  />
        </p>
      </section>
      <section class="post">
        <h2 class="blog_title">October 26, 2015: My favorite internet cat!</h2>
        <p>
          This is a blog post about my favorite internet cat, Grumpy Cat. Here is a picture of Grumpy Cat. He is grumpy.
          <img src ="grumpy_cat_christmas.jpg" alt="Grumpy cat lookin grumpy" height="534" width="950" />
        </p>
      </section>
