<html>
  <head>
    <title>@title</title>
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <div class="container">
    <header>
      <h3>
        <a href="index.html" />@header1</a>
      </h3>
      <h3>
        <a href="about_me.html" />@header2</a>
      </h3>
      <h3>
        <a href= "blog.html" />@header3</a>
      </h3>
    </header>
    <body class="sides">
      <%= yield %>
    </body>
    <footer>
      <p>
        Cool footer stuff goes here
      </p>
    </footer>
  </div>
</html>
