      <h1>
        Projects
      </h1>
      <h2>Cat Generator</h2>
      <div>
        <p>
          With my newfound coding powers, I quickly set out to solve one of society's most urgent problems: how to get cat photos on demand.
        </p>
        <form method="post" action="/random_cats" target="_blank">
          <button type="submit">Click for cats</button>
        </form>
      </div>
      <h2>Code Projects</h2>
      <p>
        I've also been doing some slightly more meaningful projects as a student at Ada. Here are some of the projects:
      </p>
      <table>
        <tr>
          <td>
            <strong>Project</strong>
          </td>
          <td>
            <strong>Description</strong>
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://github.com/kdefliese/Solar-System">Solar System</a>
          </td>
          <td>
            Created a solar system with multiple planets in it and learned about basic Ruby classes
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://github.com/kdefliese/Word-Guess">Word Guess</a>
          </td>
          <td>
            Created a hangman game using ASCII art
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://github.com/kdefliese/BankAccounts">Bank Accounts</a>
          </td>
          <td>
            Created different types of bank accounts and learned about Ruby classes and methods
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://github.com/kdefliese/Scrabble">Scrabble</a>
          </td>
          <td>
            Created a Scrabble game and learned about testing with Rspec
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://github.com/kdefliese/FarMar">FarMar</a>
          </td>
          <td>
            Analyzed data from farmers markets and learned about manipulating data in Ruby
          </td>
        </tr>
      </table>
