/*
 * This is a CSS file.
 * Inside of CSS files comments are started with /* and ended with:
 */

/*
 * Starting with Wave 2 of this project we will be using CSS to style our
 * web pages. You should place all of your styles in this file and then
 * reference it from each of your HTML files.
 */

/*
 * This file is located at "public/main.css" in your project directory.
 * Because it is in the "public" directory, Sinatra knows to make the file
 * accessible to your HTML files when you use the src="path/to/file"
 * attribute on the appropriate tags.
 *
 * For example, to include an image into your site, place the file in the
 * public directory and use <img src="/name_of_image.png"> in your HTML
 * file. The "public" part of the path should *not* be included.
 */

html {
  margin: 0;
}

.sides {
  background-color: #B5C8DA;
  width: 100%;
  margin: 0;
}

.container {
  width: 960px;
  margin: auto;
  font-family: Helvetica;
  color: #333333;
}

header {
  background-color: #333333;
  width: 960px;
  padding: 90px 30px 15px 10px;
  text-align: left;
}

h1 {
  color: #333333;
}

h2 {
  color: #333333;
}

h3 {
  display: inline;
  padding: 10px;
  font-size: 24px;
  line-height: 5px;
  color: #333333;
}

h3 a {
  text-decoration: none;
  color: #FFFFFF;
}

h3 a:hover {
  color: #990000;
}

p {
line-height: 40px;
}

td a {
  text-decoration: none;
  font-weight: bold;
  color: #333333;
}

table {
  color: #333333;
  border-spacing: 10px 20px;
}

footer {
  color: #333333;
  font-size: 12px;
  border-top: 2px solid #333333;
  margin-top: 100px;
  line-height: 5px;
}

footer p {
line-height: 20px;
}

.blog_title {
  padding-bottom: 10px;
  line-height: 10px;
}

.post {
  background-color: #FFFFFF;
  padding: 10px 20px 4px 20px;
  margin: 20px 0px;
  width: 960px;
}

button {
  width: 200px;
  height: 45px;
  background-color: #990000;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  margin: 0px 0px 40px 380px;
}
